<%- include('../partials/header') %>

<main>
    <section class="thankyou-hero">
        <h1>Thank You for Your Submission!</h1>
        <p>We’ve received your details and will get back to you soon. Join the Sunshine Runners Club community and start running with us!</p>
        <a href="/" class="btn">Return to Home</a>
    </section>
</main>

<%- include('../partials/footer') %>