<%- include('../partials/header') %>

<main>
    <section class="thankyou-hero">
        <h1>Thank You!</h1>
        <p>Your message has been received. We'll get back to you soon!</p>
        <a href="/" class="cta-button">Return to Home</a>
    </section>
</main>

<%- include('../partials/footer') %>